body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #68eacc, #497be8);

}

.container {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}


.todo-form {
    display: flex;
    margin: 20px 0;
}

.todo-input {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.todo-form button {
    background-color: #8A2BE2;
    color: white;
    border: none;
    padding: 0 15px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    background-color: #f9f9f9;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.todo-list .delete-btn {
    background-color: #e74c3c; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #555;
}

.footer .clear-all-btn {
    background-color: #8A2BE2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}